<html>

    <head>

        <title> View Main  </title>

    </head>

    <body>

        <h1> Suas informações </h1>

        <form action="/check" method="POST">

            <!-- Campo do nome -->

            <h5> Nome </h5>

            <input type="text" name="username"  />

            <!-- Campo da data  -->

            <h5> Data de nascimento </h5>

            <input type="date" name="date">

            <br>
            <br>

            <button type="submit"> Enviar </button>

        </form>

    </body>

</html>